# API
VITE_API_URL=http://localhost:3000

# Firebase
VITE_FIREBASE_PROJECT_ID=legalaarie-dev
VITE_FIREBASE_API_KEY=your-firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=legalaarie-dev.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://legalaarie-dev.firebaseio.com
VITE_FIREBASE_STORAGE_BUCKET=legalaarie-dev.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
VITE_FIREBASE_APP_ID=your-app-id

# Environment
VITE_ENV=development
